---
import { getCollection, render } from "astro:content";
import LinkFilm from "@components/LinkFilm.astro";
import Layout from "@layouts/Layout.astro";
import { formatDate } from "src/helpers";
// 1. Génére un nouveau chemin pour chaque entrée de collection
export async function getStaticPaths() {
  const posts = await getCollection("personne");
  return posts.map((personne) => ({
    params: { id: personne.id },
    props: { personne },
  }));
}
// 2. Pour votre modèle, vous pouvez obtenir l'entrée directement à partir de la propriété
const { personne } = Astro.props;
const { Content } = await render(personne);
const profession = personne.data.profession && [
  ...new Set(personne.data.profession),
];
const filmsRealises = [...(await getCollection("film"))].filter(
  (film) => film.data?.realisateur?.id === personne.id
);
---

<Layout pageTitle="Détails de la personne">
  <div class="prose lg:prose-xl mx-auto">
    <h1 class="text-6xl font-bold mb-4">Fiche de {personne.data.nom}</h1>
    <p class="text-lg">
      <span class="font-semibold">Nationalité :</span>
      {personne.data.nationalite}
    </p>
    <p class="text-lg">
      <span class="font-semibold">Date de naissance :</span>
      {formatDate(personne.data.dateNaissance)}
    </p>
    {
      personne.data.dateDeces && (
        <p class="text-lg">
          <span class="font-semibold">Date de décès :</span>{" "}
          {personne.data.dateDeces}
        </p>
      )
    }
    <p class="text-lg">
      <span class="font-semibold">Lieu de naissance :</span>
      {personne.data.lieuNaissance}
    </p>
    {
      personne.data.profession && (
        <p class="text-lg">
          Profession{profession.length > 1 && <>s</>} :{" "}
          {profession.join(", ").replace(/, ([^,]*)$/, " et $1")}
        </p>
      )
    }
    {
      filmsRealises.length > 0 && (
        <>
          <h2>Films réalisés</h2>
          {filmsRealises.map((film) => (
            <LinkFilm {...film} />
          ))}
        </>
      )
    }
    <div class="mt-6">
      <div class="prose">
        <Content />
      </div>
    </div>
  </div>
</Layout>
