---
import { getCollection, render } from "astro:content";
// 1. Génére un nouveau chemin pour chaque entrée de collection
export async function getStaticPaths() {
  const posts = await getCollection("personne");
  return posts.map((personne) => ({
    params: { id: personne.id },
    props: { personne },
  }));
}
// 2. Pour votre modèle, vous pouvez obtenir l'entrée directement à partir de la propriété
const { personne } = Astro.props;
const { Content } = await render(personne);
---

<h1>{personne.data.nom}</h1>
<p>Nationalité : {personne.data.nationalite}</p>
<p>Date de naissance : {personne.data.dateNaissance}</p>
{personne.data.dateDeces && <p>Date de décès : {personne.data.dateDeces}</p>}
<p>Lieu de naissance : {personne.data.lieuNaissance}</p>


<Content />
