---
import { getCollection, render } from "astro:content";
import Layout from "@layouts/Layout.astro";
import { formatDate } from "src/helpers";
// 1. Génére un nouveau chemin pour chaque entrée de collection
export async function getStaticPaths() {
  const posts = await getCollection("personne");
  return posts.map((personne) => ({
    params: { id: personne.id },
    props: { personne },
  }));
}
// 2. Pour votre modèle, vous pouvez obtenir l'entrée directement à partir de la propriété
const { personne } = Astro.props;
const { Content } = await render(personne);
const profession = personne.data.profession && [
  ...new Set(personne.data.profession),
];
---

<Layout pageTitle="Détails de la personne">
  <div class="prose lg:prose-xl mx-auto">
    <h1 class="text-6xl font-bold mb-4">Fiche de {personne.data.nom}</h1>
    <p class="text-lg">
      <span class="font-semibold">Nationalité :</span>
      {personne.data.nationalite}
    </p>
    <p class="text-lg">
      <span class="font-semibold">Date de naissance :</span>
      {formatDate(personne.data.dateNaissance)}
    </p>
    {
      personne.data.dateDeces && (
        <p class="text-lg">
          <span class="font-semibold">Date de décès :</span>{" "}
          {personne.data.dateDeces}
        </p>
      )
    }
    <p class="text-lg">
      <span class="font-semibold">Lieu de naissance :</span>
      {personne.data.lieuNaissance}
    </p>
    {
      personne.data.profession && (
        <p class="text-lg">
          <span class="font-semibold">Profession :</span>
          {personne.data.profession.length > 1
            ? personne.data.profession.slice(0, -1).join(", ") +
              " et " +
              personne.data.profession.slice(-1)
            : personne.data.profession[0]}
        </p>
      )
    }
    <div class="mt-6">
      <div class="prose">
        <Content />
      </div>
    </div>
  </div>
</Layout>
